
 body {
            margin: 0;
            height: 100vh;
            cursor: none; /* optional, hide default cursor */
        }
.dot{
    width: 50px;
    height: 50px;
   position: absolute;
   pointer-events: none;
   background-color: red;
   border-radius: 50px;
    transform: translate(-50%, -50%);
}
