.main{
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
flex-direction: column;
align-items: center;

}
.your{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline;
    margin: 20px;
    font-family: sans-serif;
font-size: larger;
text-align: center;
border-radius: 20px;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center (optional) */
  word-break: break-all;
   word-wrap: break-word;
  overflow-wrap: break-word
}

    
.number{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline;
    margin: 20px;
    font-family: sans-serif;
font-size: larger;
text-align: center;
border-radius: 20px;
display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center (optional) */
  overflow: hidden;
  

    
}
.submit{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline;
    margin: 20px;
    font-family: sans-serif;
font-size: larger;
text-align: center;
border-radius: 20px;
display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center (optional) */

    
}