/* =====================
   DEFAULT VARIABLES
===================== */
:root{
  --bg-color:#ffffff;
  --text-color:#000000;
  --btn-bg:#eeeeee;
  --btn-text:#000000;
}

/* =====================
   WHITE THEME
===================== */
body.white{
  --bg-color:#ffffff;
  --text-color:#000000;
  --btn-bg:#f5f5f5;
  --btn-text:#000000;
}

/* =====================
   LIGHT THEME
===================== */
body.light{
  --bg-color:#f0f0f0;
  --text-color:#111111;
  --btn-bg:#dddddd;
  --btn-text:#111111;
}

/* =====================
   DARK THEME
===================== */
body.dark{
  --bg-color:#111111;
  --text-color:#ffffff;
  --btn-bg:#222222;
  --btn-text:#ffffff;
}

/* =====================
   COMMON STYLES
===================== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--bg-color);
  color:var(--text-color);
  transition:background 0.3s, color 0.3s;
}

button{
  padding:12px 25px
}