body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
    }

    .form-box {
      width: 300px;
      background: #fff;
      padding: 20px;
      margin: 80px auto;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .form-box h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    .form-box input {
      width: 100%;
      padding: 8px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .form-box button {
      width: 100%;
      padding: 8px;
      background: #007bff;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }

    .form-box button:hover {
      background: #0056b3;
    }





    .id-card {
      width: 260px;
      background: #fff;
      margin: 80px auto;
      padding: 15px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }

    .photo {
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%;
      background: #ccc;
      margin: 0 auto 10px;
      overflow: hidden;
    }
    .id-card img {
    width: 100px;        /* fixed width */
    height: 100px;       /* fixed height */
    border-radius: 50%;
    object-fit: cover;   /* image crop/fit without stretching */
    margin-bottom: 10px;
}


    h3 {
      margin: 5px 0;
    }

    p {
      margin: 4px 0;
      font-size: 14px;
      color: #555;
    }

    .role {
      background: #007bff;
      color: white;
      padding: 4px;
      border-radius: 4px;
      font-size: 13px;
      margin-top: 8px;
    } 
    .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
