.main{
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner{
    background-color: azure;
    height: 400px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last{
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 500px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color:"white";
    font-size: 60px;
}